body {
  color: #e0e0e0;
  background-color: #202020;
}

a {
  color: #5090ff;
  text-decoration: none;
}

a:hover,
a:active {
  color: #80d0ff;
}

pre,
code {
  background-color: inherit;
}

.site-navi a:hover,
.site-navi a:active {
  color: #a0a0a0; /* Lighter gray for general links in dark mode */
}

.topnav a:hover {
  background-color: #333333; /* Darker background on hover */
  color: #f0f0f0; /* Light text color on hover */
}

.list .article-titles:hover,
.list .article-titles:active {
  color: white;
}

.article-title-series a:hover,
.article-title-series a:active {
  color: white;
}

.article-meta a:hover,
.article-meta a:active {
  color: white;
}

.article-series .series-title a:hover,
.article-series .series-title a:active {
  color: white;
}

.archives .archives-item>a:visited {
  color: #707070;
}

.archives ul.taxonomies li a:hover,
.archives ul.taxonomies li a:active {
  color: white;
}

#mobile-menu-icon {
  color: #eee; /* Explicitly set a light color for visibility in dark mode */
}


.pagination li.active a:hover,
.pagination li.active a:active {
  color: white;
}

hr {
  border-top-color: #444444 !important;
}

.article img {
  border-color: #444444;
}

.article>table {
  border-color: #444444;
}

.article>table th,
.article>table td {
  border-color: #444444;
}

.toc {
  border-color: #444444;
}

.author-avatar-wrapper {
  border-color: #444444;
}

.list .article {
  border-bottom-color: #444444;
}

.terms>ul>li {
  border-bottom-color: #444444;
}

.archives .archives-month,
.archives .archives-item {
  border-bottom-color: #444444;
}