<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
{{ if .Site.Params.googlefonts }}
<link rel="stylesheet" href="{{ .Site.Params.googlefonts }}" type="text/css" media="print" onload="this.media='all'" />
<noscript><link rel="stylesheet" href="{{ .Site.Params.googlefonts }}" type="text/css" media="all" /></noscript>
{{ end }}
<link rel="manifest" href="/manifest.json">

<link rel="stylesheet" href="{{ "css/style.css" | relURL }}" media="all" />
<link rel="stylesheet" href="{{ "css/syntax.css" | relURL }}" media="all" />
<link rel="stylesheet" href="{{ "css/custom.css" | relURL }}" media="all" />



<!-- meta property="fb:pages" content="461752997953233" /-->
  
<!-- gads -->
<!-- script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5968995164040249" crossorigin="anonymous"></script -->

<!-- gtag for analytics-->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-BL9EPT4XBW"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'G-BL9EPT4XBW');
</script>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-K7M2F9NG');</script>
<!-- End Google Tag Manager -->
