{{ if .Site.Params.googlefonts }}
<link rel="stylesheet" href="{{ .Site.Params.googlefonts }}" type="text/css" media="all" />
{{ end }}
<link rel="manifest" href="/manifest.json">

<link rel="stylesheet" href="{{ "css/style.css" | relURL }}" media="all" />
<link rel="stylesheet" href="{{ "css/syntax.css" | relURL }}" media="all" />
<link rel="stylesheet" href="{{ "css/custom.css" | relURL }}" media="all" />

{{- if .Site.Params.useCDN | default false }}
<script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
{{- else }}
<script defer src="{{ "js/fontawesome.js" | relURL }}"></script>
{{- end }}

<!-- meta property="fb:pages" content="461752997953233" /-->
  
<!-- gads -->
<!-- script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5968995164040249" crossorigin="anonymous"></script -->

<!-- gtag for analytics-->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-BL9EPT4XBW"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'G-BL9EPT4XBW');
</script>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-K7M2F9NG');</script>
<!-- End Google Tag Manager -->
