<header class="site-header">
  <nav class="site-navi">
    <h1 class="site-title">
      <a href="{{ "/" | relURL }}"><img src="/images/logo.png" alt="logo"></a>
    </h1>
    <div class="site-tools">
      <div class="dark-mode-switch">
        <input type="checkbox" id="dark-mode-toggle" class="checkbox">
        <label for="dark-mode-toggle" class="toggle">
          <i class="fa-solid fa-moon"></i>
          <i class="fa-solid fa-sun"></i>
          <div class="ball"></div>
        </label>
      </div>
      <div class="topnav" id="myTopnav">
      {{- range .Site.Menus.main }}
      <a href="{{ .URL | safeURL }}" title="{{ .Name }}">{{ .Name }}</a>
              {{- end }}
            </div>
            <a href="javascript:void(0);" class="icon" onclick="TopNav()" id="mobile-menu-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor"><path d="M24 6h-24v-4h24v4zm0 4h-24v4h24v-4zm0 8h-24v4h24v-4z"/></svg></a>
          </div>  </nav>
</header>
<hr class="site-header-bottom">
