<header class="site-header">
  <nav class="site-navi">
    <h1 class="site-title">
      <a href="{{ "/" | relURL }}"><img src="/images/logo.png" alt="logo"></a>
    </h1>
    <a style="font-size: 8px; text-decoration: none; cursor: pointer;" id="dark-mode-toggle" class="fa-solid fa-moon">Dark Mode</a>
    <div class="topnav" id="myTopnav">
      {{- range .Site.Menus.main }}
      <a href="{{ .URL | safeURL }}" title="{{ .Name }}">{{ .Name }}</a>
      {{- end }}
      <a href="javascript:void(0);" class="icon" onclick="TopNav()"><i class="fa-solid fa-bars"></i></a>
    </div>
  </nav>
</header>
<hr class="site-header-bottom">
