<script type="application/ld+json">
[
{{ if eq .Section "posts" }}
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": "{{ .Title }}"{{ if .Params.image }},
  "image": {{ .Params.image | absURL | jsonify | safeJS }}{{ end }},
  "datePublished": "{{ .PublishDate.Format "2006-01-02T15:04:05Z07:00" }}",
  "dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}",
  "author": {
    "@type": "Person",
    "name": "{{ .Site.Params.author.name }}"
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": {{ .Permalink | absURL | jsonify | safeJS }}
  },
  "publisher": {
    "@type": "Organization",
    "name": "{{ .Site.Params.header }}",
    "logo": {
      "@type": "ImageObject",
      "url": {{ "images/logo.png" | absURL | jsonify | safeJS }}
    }
  },
  "description": {{ .Summary | plainify | jsonify | safeJS }},
  "keywords": {{ .Params.tags | jsonify | safeJS }}
},
{{ end }}
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "{{ .Site.Params.header }}",
  "url": {{ .Site.BaseURL | jsonify | safeJS }},
  "sameAs": [
    "https://www.facebook.com/{{ .Site.Params.facebook }}",
    "https://www.instagram.com/{{ .Site.Params.instagram }}",
    "https://twitter.com/{{ .Site.Params.twitter }}"
  ]
}
]
</script>
