{{ define "main" }}
<div class="main" role="main">
  <article class="article homepage-intro">
    <div class="article-content">
      {{ .Content }}
    </div>
  </article>

  <hr class="homepage-divider">

  <link href="/pagefind/pagefind-ui.css" rel="stylesheet">
  <script src="/pagefind/pagefind-ui.js"></script>
  <div id="search"></div>
  <script>
      window.addEventListener('DOMContentLoaded', (event) => {
          new PagefindUI({ element: "#search", showSubResults: true });
      });
  </script>
</div>
{{ end }}